<h2>Main</h2>
<iframe src="https://media.giphy.com/media/JIX9t2j0ZTN9S/giphy.gif" width="480" height="359" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<p>
  <a href="https://media.giphy.com/media/JIX9t2j0ZTN9S/giphy.gif">via GIPHY</a>
</p>